@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

    font-family: 'Roboto', sans-serif;
}

#main-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

#gif-container>img {
    width: 35%;
}

#text>h2 {
    font-size: 40px;
}

#text>p {
    font-size: 20px;
}